.header-top {
   background-color: #fafafa;

   padding: 11px 0 4px;
}
.header-colum {
   display: flex;
   justify-content: space-between;
   // .header-colum__link-del
   &__link-del {
      font-size: 13px;
      color: #666666;
   }
   // .header-colum__info-tel
   &__info-tel {
      display: flex;
      justify-content: space-between;
      text-align: left;

      & .info-tel {
         margin-left: 16px;
         font-weight: 600;
         font-size: 15px;
         position: relative;
         top: -2px;
         left: 0;
         font-stretch: ultra-condensed;

         & .t {
            position: relative;
            top: 0;
            left: 0;
            font-size: 10px;
            text-align: left;
            color: #999999;
            letter-spacing: -0.5px;
         }
      }
      & a {
         margin-left: 10px;
      }
   }
   // .header-colum__info-nav
   &__info-nav {
      & a {
         margin-left: 10px;
      }
   }
}
.link-active {
   position: relative;
   color: #111111;
   font-size: 13px;
   margin-bottom: 10px;
   &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #111;
   }
}
.red-link {
   position: relative;
   color: #d42859;
   &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #d42859;
   }
}
.header-button {
   display: flex;
   justify-content: space-between;

   &__info {
      margin-top: 4px;
      & .logo {
         width: 168px;
         height: 58px;
         background-image: url(../img/png/Logo.png);
         background-color: white;

         display: inline-block;
      }
      & .serch {
         position: relative;
         display: inline-block;
         vertical-align: top;
         margin: 20px 0 20px 62px;
         border-bottom: 1px solid #d6d6d6;
         padding-bottom: 7px;
         width: 370px;
         color: #999;
         & input[type="search"] {
            width: 90%;
            font-weight: 400;
            font-size: 16px;
         }
         & .bth-search {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 18px;
            height: 18px;
            background-image: url(../img/png/search.png);
            background-color: white;
         }
      }
   }
   // .header-button__back-info
   &__back-info {
      margin-top: 26px;
      & .back-tell {
         position: relative;
         width: 20px;
         height: 20px;
         background-image: url(../img/png/phone.png);
         background-color: white;

         vertical-align: bottom;

         &-1 {
            position: absolute;
            width: 10px;
            height: 10px;
            background-image: url(../img/png/arrow.png);
            top: -3px;
            right: -2px;
         }
      }

      & .like {
         position: relative;
         width: 25px;
         height: 19px;
         background-color: white;
         background-image: url(../img/png/heart.png);
         margin-left: 31px;
         vertical-align: bottom;
         // .like__calc
         &__calc {
            position: absolute;
            top: -7px;
            right: -8px;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #f26e56;
            font-size: 11px;
            color: #ffffff;
            text-justify: center;
            text-align: center;
         }
      }
      & .cart {
         position: relative;
         width: 25px;
         height: 24px;
         background-color: white;
         background-image: url(../img/png/cart.png);
         margin-left: 31px;
         vertical-align: bottom;
         // .cart__calc
         &__calc {
            position: absolute;
            top: -4px;
            right: -6px;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            background-color: #f26e56;
            font-size: 11px;
            color: #ffffff;
            text-justify: center;
            text-align: center;
         }
      }
      & .acaunt {
         width: 21px;
         height: 21px;
         background-color: white;
         background-image: url(../img/png/user.png);
         margin-left: 50px;
         vertical-align: bottom;
      }
   }
}
