._content {
   width: 767px;
   padding-top: 20px;
}
.nav {
   // .nav__content
   &__content {
      display: flex;
      justify-content: space-between;
      & li {
         display: inline-block;
         vertical-align: top;
         font-size: 17px;
         color: #111111;
         position: relative;
         &:hover .drop-down {
            display: block;
            background-color: white;
         }
      }
      & li a {
         color: #111111;
      }
   }
}

.drop-down {
   display: none;
   border: 1px solid;
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   min-width: 120px;
   padding-top: 10px;
   z-index: 9;
   & li {
      position: relative;
      &:hover .drop-down__2 {
         display: block;
         background-color: white;
      }
   }
   // .drop-down__2

   &__2 {
      display: none;
      border: 1px solid;
      position: absolute;
      top: 0;
      left: 100%;
      background: #5a5af2;
      min-width: 120px;
      & li {
         position: relative;
         &:hover .drop-down__3 {
            display: block;
         }
      }
   }
   // .drop-down__3

   &__3 {
      display: none;
      border: 1px solid;
      position: absolute;
      top: 0;
      left: 100%;
      background: #6d78f2;
      min-width: 120px;
      & li {
         position: relative;
         &:hover .drop-down__4 {
            display: block;
         }
      }
   }
   // .drop-down__4
   &__4 {
      display: none;
      border: 1px solid;
      position: absolute;
      top: 0;
      left: 100%;
      background: #5fa1f2;
      min-width: 120px;
      & li {
         position: relative;
      }
   }
}
